* {

}

.choice {
	border: 2px solid black;
	width: 20%;
	padding: 2px;
}

.selected {
	color: white;
	background-color: blue;
}

#survey_list {
	list-style-type: none;
}

#choice_percents {
	border: 2px solid black;
	width: 50%;
	margin: 2px;
}
