<a href="/">Home</a><br/>
<h2>All <%=@user.username%>'s Beautiful Surveys: </h2>

<% if @surveys %>
<% @surveys.each do |survey| %>
<a href="/users/surveys/<%= survey.id %>"><%=survey.title %></a><br>
<% end %>

<% else %>

  <h3>): <%=@user.username%> hasn't created any surveys!!</h3>

<% end %>
