<!-- Sign-up / Log-in / Log-out Buttons  -->

<h1>Swift Survey</h1> 


<h2>Sign-In</h2>
<form action='/login' method='post'>
  <input type='text' name='user[username]' placeholder='username'>
  <input type='text' name='user[password]' placeholder='password'>
  <input type='submit' value='sign-in'>
</form> 

<h2>Register</h2>
<form action='/register' method='post'>
  <input type='text' name='user[username]' placeholder='username'>
  <input type='text' name='user[password]' placeholder='password'>
  <input type='submit' value='register'>
</form>